# User-specific files
*.userprefs
*.user
*.userosscache
*.sln.docstates
*.suo

# Build output
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# VS Artifacts
.vs/

# NuGet
/packages/
\.idea/
